div.menubutton {
  padding-top: 6px;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 12px;
}
body {
  text-align: center;
  background: url(../img/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar.transparent{
  padding:10px;
  background: rgba(255, 255, 255, 0.3);
  font-family: "Marker Felt";
  font-size: 35px;
}

.nav-link{
  font-size: 150%;
}

.navbar-brand{
  color:black;
  font-size:170%;
}

.dropdown {
  width = 200px;
}

iframe#myIframe {
  align:middle;
  width:840px;
  height:630px;
  margin-top: 200px;
}
