body {
  color: black;
  text-align: center;
  background: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar-fixed-top.transparent{
  padding:10px;
  background: rgba(255, 255, 255, 0.35);
  font-family: "Marker Felt";
  font-size: 35px;
}

.nav-link{
  font-size: 150%;
}

.navbar-brand{
  font-size:170%;
}

.list-group-item {
  width:200px;
  font-size: 150%;
  background: rgba(255, 255, 255, 0.35);
}

#brandBtn {
  font-size: 50px;
}

.navbutton {
  color: black;
}

#brandBtn:hover {
  font-size: 50px;
  color: black;
  background: transparent;
  text-decoration: underline;
}

#brandBtn:focus {
  font-size: 50px;
  color: black;
  background: transparent;
}

#pizzaMenu {
  border-radius: 25px;
}

#menuBtn:hover {
  color: black;
  background: transparent;
  text-decoration: underline;
}

#menuBtn:focus {
  color: black;
  background: transparent;
}

#placeOrderBtn:hover {
  color: black;
  background: transparent;
}

#placeOrderBtn:hover {
  color: black;
  background: transparent;
  text-decoration: underline;
}

#placeOrderBtn:focus {
  color: black;
  background: transparent;
}

#userBtn:hover {
  color: black;
  background: transparent;
  text-decoration: underline;
}

#loginBtn:hover {
  color: black;
  background: transparent;
  text-decoration: underline;
}

#userBtn:focus {
  color: black;
  background: transparent;
}

#userBtn {
  margin-right: 60px;
}

#loginBtn {
  margin-right: 60px;
}

#loginBtn:focus {
  color: black;
  background: transparent;
}

#userMenu {
  padding: 0px;
  margin-right: 100px;
}

#pizzaMenu {
  padding: 0px;
}

iframe#myIframe {
  align:middle;
  width:840px;
  height:630px;
  margin-top: 200px;
}
