div.menubutton {
  padding-top: 6px;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 12px;
}
body {
  color: black;
  text-align: center;
  background: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar-fixed-top.transparent{
  padding:10px;
  background: rgba(255, 255, 255, 0.3);
  font-family: "Marker Felt";
  font-size: 35px;
}

.nav-link{
  font-size: 150%;
}

.navbar-brand{
  font-size:170%;
}

.dropdown {
  width = 300px;
}

a {
  color: black !important;
}

#hello {
  color: black;
  margin-right: 100px;
}

iframe#myIframe {
  align:middle;
  width:840px;
  height:630px;
  margin-top: 200px;
}
