{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Place your order at Teo's Pizza
{% endblock title %}

{% block styling %}
{{ block.super }}

<style>
  .container {
    margin-top: 120px;
    font-family: "Chalkduster";
    font-size: 150%;
    max-width:750px;
    background: rgba(255, 255, 255, 0.3) };
    max-width:160px;
  }
  </style>
{% endblock styling %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="../../static/js/order-form.js"></script>
{% endblock %}

{% block content %}
<form role="form" action="{% url 'place_order' %}" method="post">
  {% csrf_token %}
  {{ formOrder | crispy }}
  {{ formSetOrderItem.management_form }}
  {% for formOrderItem in formSetOrderItem %}
  <div class="form-row">
    <div class="form-group col-md-10 mb-0 pizza" >
      {{ formOrderItem.pizza_type | as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-0 quantity">
      {{ formOrderItem.quantity | as_crispy_field }}
    </div>
    <div class="form-group">
      <button id="delete" type="button" class="btn btn-danger btn-block delete-form-row">Delete this item</button>
    </div>


  </div>
  {% endfor %}
  <div>
    <button class="btn btn-success add-form-row">Add another item to my order</button>
  </div><br>


  <div class="form-group">
    <label for="output1" style="color:tomato">To pay</label>
    <output id="output1" class="form-control"></output>
  </div>
  <button class="btn btn-primary submit-button" id="yw1">Confirm Order</button><br><br>
</form>

{% endblock %}
