{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
  Place your order at Teo's Pizza
{% endblock title %}

{% block styling %}
{{ block.super }}

<style>
  .container   {
    margin-top: 120px;
    font-family: "Chalkduster";
    font-size: 150%;
    max-width:750px;
    background: rgba(255, 255, 255, 0.3) };
  }

  </style>
{% endblock styling %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function(){

    $('button').prop('disabled', true);

    $(".form-row").change(function(){
      calculate_total();
    });

    function calculate_total(){
      var total = 0;
      $(".form-row").each(function(){
        var price = 0;
        var pizza = $(this).find(".select :selected").text();
        var quantity = $(this).find("input").val();

        if (!quantity>0){
          $("#output1").val(total);
          if ($("#output1").val()==0){
            $('button').prop('disabled', true);
          };
        }
        else if (pizza!="---------" && quantity>0){
            $.ajax({
              type:"GET",
              url: "{% url 'get_price' %}",
              data: { name: pizza },
              async: true,
              datatype: "text",
              success: function(data){
                total = total + data * quantity;
                $("#output1").val(total);
                if ($("#output1").val()>0) {
                  $('button').prop('disabled', false);
                }
              }})};
        });
    };
  });
 </script>
{% endblock %}

{% block content %}
<form role="form" action="{% url 'place_order' %}" method="post">
  {% csrf_token %}
  {{ formOrder | crispy }}
  {{ formSetOrderItem.management_form }}
  {% for formOrderItem in formSetOrderItem %}
  <div class="form-row">
    <div class="form-group col-md-10 mb-0 pizza" >
      {{ formOrderItem.pizza_type | as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-0 quantity">
      {{ formOrderItem.quantity | as_crispy_field }}
    </div>
  </div>
  {% endfor %}


  <div class="form-group">
    <label for="output1" style="color:tomato">To pay</label>
    <output id="output1" class="form-control"></output>
  </div>
  <button class="btn btn-primary" id="yw1" >Pay & Send Order</button><br><br>
</form>

{% endblock %}
