{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  Order summary
{% endblock title %}

{% block scripts %}
{{ block.super }}
{% endblock %}

{% block styling %}
{{ block.super }}
<link rel="stylesheet" href="{% static  "css/confirmation.css"%}">
{% endblock styling %}

{% block content %}
<div class="hidden" id="order_id" >{{ order.id }}</div>
<form role="form" action="{% url 'confirm_order' %}" method="post">
    {% csrf_token %}
<h1>Order details</h1><br>
<div class="form-row">
  <div class="col-sm-6 table-bordered">Amount</div>
  <div class="col-sm-6 table-bordered">{{ order.get_amount }} &euro;</div>
</div>
<div class="form-row">
  <div class="col-sm-6 table-bordered">Date</div>
  <div class="col-sm-6 table-bordered">{{ order.date }}</div>
</div>
{% if order.comment != "" %}
<div class="form-row">
  <div class="col-sm-6 table-bordered">Comments</div>
  <div class="col-sm-6 table-bordered">{{ order.comment }}</div>
</div>
{% else %}
<div class="form-row">
  <div class="col-sm-6 table-bordered">Comments</div>
  <div class="col-sm-6 table-bordered">None</div>
</div>
{% endif %}
<br><br><br><br>

  <h3>Order Items</h3>
  <br>
  {% for oi in orderItems %}
  <div class="form-row item">
    <div class="form-row col-sm-6 table-bordered pizza" >
      {{ oi.pizza_type }}
    </div>
    <div class="form-row col-sm-6 table-bordered quantity">
      {{ oi.quantity }}
    </div>
  </div>
  <br>
  {% endfor %}
  <br>
  <button class="form-row btn btn-success submit-button" id="yw1">
          Pay & Send Order
  </button><br><br>
</form>
{% endblock %}
