{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Order summary
{% endblock title %}

{% block styling %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/odetails.css" %}">
{% endblock styling %}

{% block content %}
<div id="container3">

<h1>Order details</h1><br>

  <div class="form-row">
    <div class="col-sm-6 table-bordered">Amount</div>
    <div class="col-sm-6 table-bordered">{{ order.get_amount }} &euro;</div>
  </div>
  <div class="form-row">
    <div class="col-sm-6 table-bordered">Date</div>
    <div class="col-sm-6 table-bordered">{{ order.date }}</div>
  </div>
  {% if order.comment != "x" %}
  <div class="form-row">
    <div class="col-sm-6 table-bordered">Comments</div>
    <div class="col-sm-6 table-bordered">{{ order.comment }}</div>
  </div>
  {% else %}
  <div class="form-row">
    <div class="col-sm-6 table-bordered">Comments</div>
    <div class="col-sm-6 table-bordered">None</div>
  </div>
  {% endif %}
<br><br><br><br>
  <h3>Order Items</h3>
  {% for ol in order_items %}
  <div class="form-row">
    <div class="col-sm-6 table-bordered" >
      {{ ol.pizza_type.name }}
    </div>
    <div class="col-sm-6 table-bordered">
      {{ ol.quantity }}
    </div>
  </div>
  {% endfor %}
<br><br><br>
</div>
{% endblock %}
