.container   {
  margin-top: 150px;
  font-family: "Chalkduster";
  font-size: 150%;
  max-width:750px;
  background: rgba(255, 255, 255, 0.3);
}

.col-sm-6 {
  background: rgba(255, 255, 255, 0.3)
}
