{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  Login
{% endblock %}

{% block styling %}
{{ block.super }}
  <link rel="stylesheet" href="/static/css/loginpagestyle.css">
    <style>
      body {
        padding-top: 200px;
        padding-bottom: 20px;
      }

      #create {
        text-color: white; !important
      }
    </style>
{% endblock styling %}

{% block content %}

  <form role="form" action="{% url 'client_login' %}" method="post">
    {% csrf_token %}

    {{ form | crispy }}

    <button type="submit" class="btn btn-success">Sign in</button>
    <a id="create"  class="btn btn-primary" name="button" href="{% url 'new_user' %}">Create new account</a>

  </form>

  {% endblock %}
